In [2]:
import pandas as pd
df=pd.read_csv("G:/data/h-1b-visa/world-happiness-report-2019.csv")

In [3]:
df.head()

,Country (region),Ladder,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP per capita,Healthy life expectancy
0,Finland,1,4,41.0,10.0,2.0,5.0,4.0,47.0,22.0,27.0
1,Denmark,2,13,24.0,26.0,4.0,6.0,3.0,22.0,14.0,23.0
2,Norway,3,8,16.0,29.0,3.0,3.0,8.0,11.0,7.0,12.0
3,Iceland,4,9,3.0,3.0,1.0,7.0,45.0,3.0,15.0,13.0
4,Netherlands,5,1,12.0,25.0,15.0,19.0,12.0,7.0,12.0,18.0

In [4]:
# pd.DataFrame(df[True,False,True,True,False,False,True,True,False,True,False])

In [5]:
df["Corruption"].max()

148.0

In [6]:
df["Corruption"].min()

1.0

In [7]:
df.query("Corruption==1.0")

,Country (region),Ladder,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP per capita,Healthy life expectancy
33,Singapore,34,5,38.0,2.0,36.0,20.0,1.0,21.0,3.0,1.0

In [8]:
df.query("Corruption==148.0")

,Country (region),Ladder,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP per capita,Healthy life expectancy
70,Moldova,71,45,133.0,67.0,65.0,128.0,148.0,86.0,109.0,86.0

In [9]:
for i in range(1,6):
    c1=df["Generosity"].max()
    print(c1)

155.0
155.0
155.0
155.0
155.0

In [10]:
#print(df["Freedom"==df["Freedom"].max()])

In [12]:
df.query("Corruption>135")

,Country (region),Ladder,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP per capita,Healthy life expectancy
37,Slovakia,38,39,53.0,47.0,21.0,108.0,142.0,70.0,35.0,38.0
38,Trinidad and Tobago,39,89,14.0,52.0,29.0,51.0,141.0,41.0,38.0,93.0
45,Kosovo,46,107,71.0,7.0,85.0,50.0,144.0,31.0,88.0,NaN
47,Romania,48,75,80.0,62.0,86.0,57.0,146.0,102.0,48.0,61.0
61,Hungary,62,36,86.0,31.0,51.0,138.0,140.0,100.0,42.0,56.0
70,Moldova,71,45,133.0,67.0,65.0,128.0,148.0,86.0,109.0,86.0
74,Croatia,75,29,122.0,101.0,79.0,118.0,139.0,81.0,50.0,32.0
77,Bosnia and Herzegovina,78,80,116.0,79.0,92.0,137.0,145.0,32.0,82.0,50.0
79,Malaysia,80,12,25.0,23.0,97.0,36.0,137.0,27.0,40.0,59.0
85,Kyrgyzstan,86,46,58.0,4.0,45.0,38.0,138.0,36.0,120.0,91.0
96,Bulgaria,97,47,117.0,13.0,18.0,115.0,147.0,112.0,56.0,65.0
132,Ukraine,133,69,131.0,44.0,56.0,141.0,143.0,66.0,94.0,87.0
153,Afghanistan,154,25,152.0,133.0,151.0,155.0,136.0,137.0,134.0,139.0

In [ ]:
plt.hist()
plt.show()